<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dojos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container d-flex">
        <div class="card bg-dark text-light mr-3" style="width: 30rem">
            <div class="card-body">
                <h5 class="card-title">New Dojo</h5>

                <form action="/dojos/create" method="POST">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="name" class="col-form-label">Name</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" name="name" class="form-control" />
                        </div>
                        <div class="col-auto"></div>
                    </div>
                    <input type="submit" value="add dojo" class="btn btn-primary btn-outline-dark" />
                </form>
            </div>
        </div>

        <div class="card bg-warning text-dark" style="width: 30rem">
            <div class="card-body">
                <h5 class="card-title">All Dojos</h5>
                {% for row in dojos %}
                <a href="/dojo/dojo_show/{{ row.id }}" class="card-link">{{ row.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>